@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>W University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to W University</h2>
        <p>
            This is the web site for W University!
        </p>
    </div>
    <div class="col-md-4">
        <h2>You may learn c++ here!</h2>
        <p>
            c++ is a great language!
        </p>
    </div>
</div>
